
.header {
    display: flex;
    height: 57px;
    transition: ease-in .3s all;
    min-width: 320px;
    width: 100%;
    &__toggle {
        background: $ColorTerciario;
        text-align: center;
        width: 20%;
        i {
            color: #fff;
            font-size: 20px;
            line-height: 60px;
        }
    }
    &__logo {
        background: $ColorPrimario;
        font-family: $Font1;
        text-align: center;
        width: 80%;
        h3{
            color: $ColorClaro;
            font-size: 2rem;
            line-height: 60px;
            .logo {
                @include colorText;
                font-size: 3rem;
                font-weight: 700;
            }
        }
    }
}
.is--sticky {
    position: sticky;
    top: 0;
    transition: ease-in .3s all;
    z-index: 9999;
}