.price{
    background: $ColorPrimario;
    padding: 100px 0;
    min-width: 320px;
    width: 100%;
    &__header {
        @include styleSpan;
    }
    &__header::before {
        @include styleBefore;
    }
    &__title {
        @include styleTitle;
    }
    &__container {
        margin: 100px auto 0 auto;
        min-width: 280px;
        text-align: center;
        width: 90%;
        .article__price {
            background: $ColorPrimario2;
            border: 1px solid #ffffff30;
            border-radius: 10px;
            margin: 50px auto;
            max-width: 400px;
            padding: 50px 20px;
            width: 100%;
            &--title {
                color: $ColorClaro;
                font-size: 3rem;
                font-weight: 500;
            }
            &--span {
                @include colorText;
                font-size: 2rem;
                line-height: 3rem;
            }
            &--list {
                list-style: none;
                margin-top: 30px;
                li {
                    border-top: 2px dotted $ColorSecundario;
                    color: $ColorClaro;
                    font-size: 1.6rem;
                    padding: 20px 0;
                    text-align: center;
                }
                li:last-child{
                    border-bottom: 2px dotted $ColorSecundario;
                }
            }
            &--price {
                color: $ColorClaro;
                font-size: 4rem;
                font-weight: 600;
                display: block;
                margin: 30px 0;
            }
            &--button {
                @include styleButton;
                width: 90%;
            }
            &--description {
                color: $ColorClaro;
                font-size: 1.6rem;
                line-height: 2.5rem;
            }
        }
    }
}